<h1 nz-title style="text-align: center;">Cortinas de la casa</h1>

<h4 nz-title style="text-align: center;">Controles de la cortina</h4>

<div nz-row>
  <div nz-col nzSm="24" nzMd="8">
    <h4 nz-title>Mover a la izquierda</h4>
    <br />
    <button (click)="move('7')" nz-button nzType="primary">
      <i nz-icon nzType="left-circle"></i>
    </button>
  </div>
  <div nz-col nzSm="24" nzMd="8">
    <h4 nz-title>Mover a la derecha</h4>
    <br />
    <button (click)="move('8')" nz-button nzType="primary">
      <i nz-icon nzType="right-circle"></i>
    </button>
  </div>
</div>
