<h1 nz-title style="text-align: center;">Luces de la casa</h1>

<h2 nz-title>Luz de la sala</h2>

<div nz-row>
  <div nz-col nzSm="24" nzMd="12">
    <h4 nz-title>Estado: {{ livingRoom == true ? 'Encendida' : 'Apagada' }}</h4>
  </div>
  <div nz-col nzSm="24" nzMd="12">
    <nz-switch
      (ngModelChange)="onChange('livingRoom')"
      [(ngModel)]="livingRoom"
    ></nz-switch>
  </div>
</div>

<h2 nz-title>Luz de la habitación</h2>

<div nz-row>
  <div nz-col nzSm="24" nzMd="12">
    <h4 nz-title>Estado: {{ room == true ? 'Encendida' : 'Apagada' }}</h4>
  </div>
  <div nz-col nzSm="24" nzMd="12">
    <nz-switch
      (ngModelChange)="onChange('room')"
      [(ngModel)]="room"
    ></nz-switch>
  </div>
</div>

<h2 nz-title>Luz de la cocina</h2>

<div nz-row>
  <div nz-col nzSm="24" nzMd="12">
    <h4 nz-title>
      Estado: {{ dinningRoom == true ? 'Encendida' : 'Apagada' }}
    </h4>
  </div>
  <div nz-col nzSm="24" nzMd="12">
    <nz-switch
      (ngModelChange)="onChange('dinningRoom')"
      [(ngModel)]="dinningRoom"
    ></nz-switch>
  </div>
</div>
