<nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" nzWidth="200px">
  <div class="logo"></div>
  <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
    <li nz-menu-item>
      <i nz-icon nzType="bulb" nzTheme="outline"></i>
      <span>Iluminación</span>
    </li>
    <li nz-menu-item>
      <i nz-icon nzType="border-inner" nzTheme="outline"></i>
      <span>Cortinas</span>
    </li>
    <li nz-menu-item>
      <i nz-icon nzType="fire" nzTheme="outline"></i>
      <span>Temperatura</span>
    </li>
    <li nz-menu-item>
      <i nz-icon nzType="calculator" nzTheme="outline"></i>
      <span>Consumo de energía</span>
    </li>
  </ul>
</nz-sider>
